@import "tailwindcss";
/* Custom scrollbar for the brands carousel */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* dark gray track */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ece8e9; /* pink/red thumb */
  border-radius: 4px;
  border: 2px solid #1f2937; /* matches track background */
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #221618 #d5dfec;
}
